

  .card_2{
    align-content: center;
    border-radius: .50rem;
  }
  .card{
      align-content: center;
      opacity: 0.90;
      margin-bottom: 7px;
  }
  .title{
    text-align: center; 
    color: white;
    margin-bottom: 5px;
   
  }
  .subtitle{
    text-align: center; 
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .backgrounddiv{
    background: rgb(105, 151, 211);
  }